In [1]:
!pip install python-binance

Requirement already satisfied: python-binance in /usr/local/lib/python3.6/dist-packages (0.7.5)
Requirement already satisfied: cryptography in /usr/local/lib/python3.6/dist-packages (from python-binance) (2.8)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from python-binance) (2.21.0)
Requirement already satisfied: pyOpenSSL in /usr/local/lib/python3.6/dist-packages (from python-binance) (19.1.0)
Requirement already satisfied: dateparser in /usr/local/lib/python3.6/dist-packages (from python-binance) (0.7.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from python-binance) (1.24.3)
Requirement already satisfied: service-identity in /usr/local/lib/python3.6/dist-packages (from python-binance) (18.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from python-binance) (1.12.0)
Requirement already satisfied: autobahn in /usr/local/lib/python3.6/dist-packages (from python-binance) (20.3.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from python-binance) (2019.11.28)
Requirement already satisfied: Twisted in /usr/local/lib/python3.6/dist-packages (from python-binance) (19.10.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography->python-binance) (1.14.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->python-binance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->python-binance) (2.8)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.6/dist-packages (from dateparser->python-binance) (1.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from dateparser->python-binance) (2.6.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from dateparser->python-binance) (2018.9)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from dateparser->python-binance) (2019.12.20)
Requirement already satisfied: attrs>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from service-identity->python-binance) (19.3.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.6/dist-packages (from service-identity->python-binance) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity->python-binance) (0.2.8)
Requirement already satisfied: txaio>=20.1.1 in /usr/local/lib/python3.6/dist-packages (from autobahn->python-binance) (20.1.1)
Requirement already satisfied: incremental>=16.10.1 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (17.5.0)
Requirement already satisfied: Automat>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (20.2.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (15.1.0)
Requirement already satisfied: zope.interface>=4.4.2 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (4.7.1)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (19.0.0)
Requirement already satisfied: PyHamcrest>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from Twisted->python-binance) (2.0.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography->python-binance) (2.19)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface>=4.4.2->Twisted->python-binance) (45.2.0)

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import time
import binance_framework as bf
from collections import deque
import random

In [3]:
from __future__ import absolute_import, division, print_function, unicode_literals

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf

TensorFlow 2.x selected.

In [0]:
CURRENCIES = ['ETHUSDT']
SEQUENCE_LEN = 128
FUTURE_PERIOD_PREDICT = 5
RATIO_TO_PREDICT = 'ETHUSDT'
EPOCHS = 20
BATCH_SIZE = 128
NAME = 'SEQ-'+ str(SEQUENCE_LEN)+'-FUTPRED-'+str(FUTURE_PERIOD_PREDICT)+'-PRED-'+str(time.time())

In [0]:
#coins = bf.get_data_by_intervals(300,CURRENCIES,bf.INTERVAL_1MINUTE)

In [0]:
#coins.to_csv('eth_1min_300.csv',index=False)

In [0]:
coins  = pd.read_csv('eth_1min.csv')

In [8]:
coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24951 entries, 0 to 24950
Data columns (total 12 columns):
ETHUSDT Open Time                       24951 non-null int64
ETHUSDT Open                            24951 non-null float64
ETHUSDT High                            24951 non-null float64
ETHUSDT Low                             24951 non-null float64
ETHUSDT Close                           24951 non-null float64
ETHUSDT Volume                          24951 non-null float64
ETHUSDT Close Time                      24951 non-null int64
ETHUSDT Quote asset volume              24951 non-null float64
ETHUSDT n_trades                        24951 non-null int64
ETHUSDT Taker buy base asset volume     24951 non-null float64
ETHUSDT Taker buy quote asset volume    24951 non-null float64
ETHUSDT Ignore                          24951 non-null int64
dtypes: float64(8), int64(4)
memory usage: 2.3 MB

In [9]:
coins.head()

   ETHUSDT Open Time  ...  ETHUSDT Ignore
0      1581830340000  ...               0
1      1581830400000  ...               0
2      1581830460000  ...               0
3      1581830520000  ...               0
4      1581830580000  ...               0

[5 rows x 12 columns]

In [10]:
bf.show_time_skips(coins, CURRENCIES)

Nanosec default difference:  60000
ETHUSDT  Time difference:  21300000
between indexes:  4696 , 4697
gap starts at:  1582112100000
gap ends at:    1582133400000


ETHUSDT  Time difference:  7740000
between indexes:  24368 , 24369
gap starts at:  1583313660000
gap ends at:    1583321400000

In [0]:
coins = coins[4697:24368]

In [12]:
bf.show_time_skips(coins, CURRENCIES)

Nanosec default difference:  60000

In [0]:
coins.set_index(CURRENCIES[0]+' Close Time', inplace=True)

In [0]:
coins.drop([(CURRENCIES[0]+' Open Time'), (CURRENCIES[0]+' Ignore')], axis=1, inplace=True)

In [15]:
coins.head()

                    ETHUSDT Open  ...  ETHUSDT Taker buy quote asset volume
ETHUSDT Close Time                ...
1582133459999             281.50  ...                          1.251009e+06
1582133519999             284.50  ...                          1.081573e+05
1582133579999             283.12  ...                          8.858496e+04
1582133639999             283.00  ...                          8.356447e+04
1582133699999             283.30  ...                          7.608924e+04

[5 rows x 9 columns]

In [16]:
coins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19671 entries, 1582133459999 to 1583313659999
Data columns (total 9 columns):
ETHUSDT Open                            19671 non-null float64
ETHUSDT High                            19671 non-null float64
ETHUSDT Low                             19671 non-null float64
ETHUSDT Close                           19671 non-null float64
ETHUSDT Volume                          19671 non-null float64
ETHUSDT Quote asset volume              19671 non-null float64
ETHUSDT n_trades                        19671 non-null int64
ETHUSDT Taker buy base asset volume     19671 non-null float64
ETHUSDT Taker buy quote asset volume    19671 non-null float64
dtypes: float64(8), int64(1)
memory usage: 1.5 MB

In [17]:
coins.index[0]

1582133459999

In [18]:
print(datetime.fromtimestamp(coins.index[0]/1000))
print(datetime.fromtimestamp(coins.index[-1]/1000))

2020-02-19 17:30:59.999000
2020-03-04 09:20:59.999000