In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import time
import binance_framework as bf
from collections import deque
import random

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

In [3]:
CURRENCIES = ['ETHUSDT']
SEQUENCE_LEN = 128
FUTURE_PERIOD_PREDICT = 5
RATIO_TO_PREDICT = 'ETHUSDT'
EPOCHS = 20
BATCH_SIZE = 128
NAME = 'SEQ-'+ str(SEQUENCE_LEN)+'-FUTPRED-'+str(FUTURE_PERIOD_PREDICT)+'-PRED-'+str(time.time())

In [4]:
#coins = bf.get_data_by_intervals(300,CURRENCIES,bf.INTERVAL_1MINUTE)

In [5]:
#coins.to_csv('eth_1min_300.csv',index=False)

In [6]:
coins  = pd.read_csv('eth_1min_300.csv')

In [7]:
coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149701 entries, 0 to 149700
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ETHUSDT Open Time                     149701 non-null  int64
 1   ETHUSDT Open                          149701 non-null  float64
 2   ETHUSDT High                          149701 non-null  float64
 3   ETHUSDT Low                           149701 non-null  float64
 4   ETHUSDT Close                         149701 non-null  float64
 5   ETHUSDT Volume                        149701 non-null  float64
 6   ETHUSDT Close Time                    149701 non-null  int64
 7   ETHUSDT Quote asset volume            149701 non-null  float64
 8   ETHUSDT n_trades                      149701 non-null  int64
 9   ETHUSDT Taker buy base asset volume   149701 non-null  float64
 10  ETHUSDT Taker buy quote asset volume  149701 non-null  float64
 11  ETHUSDT Ignore                        149701 non-null  int64
dtypes: float64(8), int64(4)
memory usage: 13.7 MB

In [8]:
coins.head()

,ETHUSDT Open Time,ETHUSDT Open,ETHUSDT High,ETHUSDT Low,ETHUSDT Close,ETHUSDT Volume,ETHUSDT Close Time,ETHUSDT Quote asset volume,ETHUSDT n_trades,ETHUSDT Taker buy base asset volume,ETHUSDT Taker buy quote asset volume,ETHUSDT Ignore
0,1574350200000,161.84,161.95,160.30,161.41,4015.21372,1574350259999,647658.307376,664,1179.50373,190523.966292,0
1,1574350260000,161.40,161.75,161.31,161.59,1077.63499,1574350319999,174116.006344,373,725.39822,117193.586266,0
2,1574350320000,161.58,161.63,161.13,161.60,1255.42210,1574350379999,202655.249541,353,584.50445,94349.554608,0
3,1574350380000,161.61,161.82,161.60,161.79,435.54773,1574350439999,70419.950576,209,311.50053,50365.198573,0
4,1574350440000,161.79,161.99,161.75,161.89,726.79321,1574350499999,117633.447000,198,336.35647,54445.022868,0

In [9]:
bf.show_time_skips(coins, CURRENCIES)

First time difference is:  60000


ETHUSDT Time difference:  7260000
starting at index:  4949
ending at index:    4950


ETHUSDT Time difference:  3660000
starting at index:  114269
ending at index:    114270


ETHUSDT Time difference:  32299
starting at index:  129184
ending at index:    129185


ETHUSDT Time difference:  21327701
starting at index:  129185
ending at index:    129186


ETHUSDT Time difference:  46701
starting at index:  148856
ending at index:    148857


ETHUSDT Time difference:  7753299
starting at index:  148857
ending at index:    148858

In [10]:
coins = coins[4950:114270]

In [11]:
bf.show_time_skips(coins, CURRENCIES)

First time difference is:  60000

In [12]:
#coins.set_index(CURRENCIES[0]+' Close Time', inplace=True)

In [13]:
coins.drop([(CURRENCIES[0]+' Open Time'), (CURRENCIES[0]+' Ignore')], axis=1, inplace=True)

In [14]:
coins.head()

,ETHUSDT Open,ETHUSDT High,ETHUSDT Low,ETHUSDT Close,ETHUSDT Volume,ETHUSDT Close Time,ETHUSDT Quote asset volume,ETHUSDT n_trades,ETHUSDT Taker buy base asset volume,ETHUSDT Taker buy quote asset volume
4950,137.61,137.64,135.50,135.98,1704.87457,1574654459999,233539.206681,539,513.98729,70158.849338
4951,135.79,135.98,134.01,134.57,1935.62920,1574654519999,261427.420027,552,1046.00775,141420.374286
4952,134.56,136.50,134.45,135.06,856.76341,1574654579999,115855.296653,312,520.25006,70445.275130
4953,135.21,135.27,134.82,135.05,309.56106,1574654639999,41800.370873,126,156.50866,21134.479379
4954,135.12,135.66,134.94,135.63,709.42964,1574654699999,96071.116516,183,326.34473,44213.229300

In [15]:
coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109320 entries, 4950 to 114269
Data columns (total 10 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ETHUSDT Open                          109320 non-null  float64
 1   ETHUSDT High                          109320 non-null  float64
 2   ETHUSDT Low                           109320 non-null  float64
 3   ETHUSDT Close                         109320 non-null  float64
 4   ETHUSDT Volume                        109320 non-null  float64
 5   ETHUSDT Close Time                    109320 non-null  int64
 6   ETHUSDT Quote asset volume            109320 non-null  float64
 7   ETHUSDT n_trades                      109320 non-null  int64
 8   ETHUSDT Taker buy base asset volume   109320 non-null  float64
 9   ETHUSDT Taker buy quote asset volume  109320 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 8.3 MB

In [16]:
coins.index[0]

4950

In [17]:
print('Data timeline:')
print('From: ',datetime.fromtimestamp(coins.index[0]/1000))
print('To:   ', datetime.fromtimestamp(coins.index[-1]/1000))

1970-01-01 01:00:04.950000
1970-01-01 01:01:54.269000

In [18]:
def classify(current_price, future_price):
    if future_price > current_price:
        return 1
    return 0

In [19]:
coins['Future Value'] = coins[RATIO_TO_PREDICT+' Close'].shift(-FUTURE_PERIOD_PREDICT)

In [20]:
coins['Target'] = list(map(classify, coins[CURRENCIES[0]+' Close'], coins['Future Value']))

In [21]:
coins.dropna(inplace=True)
coins.reset_index(inplace=True)

In [22]:
#gotta split in train and test data
val_len = int(len(coins)*0.2)
val_len

21863

In [23]:
validation_data = coins[(len(coins)-val_len):]
validation_data.reset_index(inplace=True)

In [24]:
coins = coins[:(len(coins)-val_len)]
coins.reset_index(inplace=True)

In [25]:
bf.show_time_skips(coins, CURRENCIES)

First time difference is:  60000

In [26]:
X_train = coins.drop(['Future Value', 'Target'], axis=1)
y_train = coins['Target']

In [27]:
X_test = validation_data.drop(['Future Value', 'Target'], axis=1)
y_test = validation_data['Target']

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

In [30]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)